.wrapper {
  border: 2px solid #b9c3d5;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.wrapper input {
  font-family: "SF-Pro-Text";
  border: none;
  margin: 0px 6px;
}

.wrapper input:focus {
  outline: none;
  border-bottom: 1px solid lightgray;
}
