.select {
  border: 1px solid #b9c3d4;
  border-radius: 8px;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 12px;
  appearance: none;
  flex: 1;
}

.dropdownWrapper {
  position: relative;
  width: 100%;
  flex: 1;
}

.dropdownIcon {
  position: absolute;
  top: 15px;
  right: 10px;
}
