.dropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0px;
}

.label {
  font-weight: 400;
  font-size: 15px;
  line-height: 17.9px;
  margin: 0px 25px 0px 0px;
  flex: 1;
}

.select {
  border: 1px solid #b9c3d4;
  border-radius: 8px;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 12px;
  appearance: none;
  flex: 1;
}

.dropdownWrapper {
  position: relative;
  width: 100%;
}

.dropdownIcon {
  position: absolute;
  top: 15px;
  right: 10px;
}
